/* Styling for things that appear on the index.html page */

.subtitle {
  margin: 30% 0;
  text-align: center;
  padding: 0 10px;
  font-size: 2em;
}

/* styles for main page navigation */
#navigation-wrapper {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

#navigation-wrapper li {
  border: 1px solid black;
  width: 20vw;
  height: 35vw;
  margin: 0 auto;
  overflow-y: hidden;
  width: 20vw;
}

#navigation-wrapper li a {
  display: flex;
  flex-direction: column;
}

.navigation-link {
  width: 100%;
  height: 100%;
}

 /* images inside each navigation element */
.navigation-img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}
